/* write your css here */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
    overflow-x: hidden;
}
.codeBlockColor{
    border: 1px solid rgba(255, 255, 255, 0.22);
    background: linear-gradient(112deg, rgba(14, 26, 45, 0.24) -1.4%, rgba(17, 30, 50, 0.38) 104.96%);
    backdrop-filter: blur(26px);
}

.codeBlockgradient{
    border-radius: 372.949px;
    opacity: 0.2;
    background: var(--gradient-02, linear-gradient(124deg, #8A2BE2 -6.46%, #FFA500 59.04%, #F8F8FF 124.53%));
    filter: blur(34px);
    left: -3.2px;
    top: -5px;
}
.homepage_bg{
    background-image: url(./assets/Images/bghome.svg);
}