/* write your css here */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
    overflow-x: hidden;
}
.codeBlockColor{
    border: 1px solid rgba(255, 255, 255, 0.22);
    background: linear-gradient(112deg, rgba(14, 26, 45, 0.24) -1.4%, rgba(17, 30, 50, 0.38) 104.96%);
    backdrop-filter: blur(26px);
}

.codeBlockgradient{
    border-radius: 372.949px;
    opacity: 0.2;
    background: var(--gradient-02, linear-gradient(124deg, #8A2BE2 -6.46%, #FFA500 59.04%, #F8F8FF 124.53%));
    filter: blur(34px);
    left: -3.2px;
    top: -5px;
}
.homepage_bg{
    background-image: url(./assets/Images/bghome.svg);
}

.About-c1{
    background: var(--gradient-06, linear-gradient(118deg, #FF512F -4.8%, #F09819 107.46%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: -0.72px;
}
.About-c2{
    background: var(--gradient-08, linear-gradient(118deg, #E65C00 -6.05%, #F9D423 106.11%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: -0.72px;
}

.AboutPart1_Color_1{
    background: var(--gradient-04, linear-gradient(118deg, #833AB4 -2.4%, #FD1D1D 52.25%, #FCB045 106.89%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.AboutPart1_Color_1{
    background: var(--gradient-04, linear-gradient(118deg, #833AB4 -2.4%, #FD1D1D 52.25%, #FCB045 106.89%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Our_Vision{
    background: var(--gradient-08, linear-gradient(118deg, #E65C00 -6.05%, #F9D423 106.11%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}
.Our_Mission{
    background: var(--gradient-05, linear-gradient(118deg, #1FA2FF -3.62%, #12D8FA 50.44%, #A6FFCB 104.51%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}